
body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#gate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url("Screenshot\ 2026-04-14\ 213311.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.6s ease;
}

.login-container {
    background: rgb(67, 67, 67); 
    padding: 20px;
    border-radius: 8px;
}

#pw {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(67, 67, 67);
}
.nav bar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color:rgb(67, 67, 67);
    size: 100px;
    font-size: 17px;
}
.container{
    max-width: 2000px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 5px 0;
    padding-right: 80px;
}
h1{
    align-items: center;
    padding-left: 500px;
}
p{
   align-items: center;
    padding-left: 500px; 
    font-size: 20px;
}
